<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Region</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="globe"></ion-icon>
      <ion-label>World</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon src="../assets/icon/dove2.svg"></ion-icon>
      <ion-label>Bird Information</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
