<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="/assets/logo.png" class="logo">
      <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>Country selection</ion-list-header>

    <ion-item>
      <ion-select #countrySelection placeholder="Select a country" (ionChange)="placeMarkersOnBirds(countrySelection.value)">
        <ion-select-option *ngFor="let country of regionCodeList.regionCodes; let i=index" [value]="country.regionCode">{{country.location}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div id="map"></div>
</ion-content>


<!-- (ionSelect)="placeMarkersOnBirds(country.regionCode)" -->