<ion-header>
  <ion-toolbar>
    <ion-title>
        <img src="/assets/logo.png" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

    <!-- <ion-card>
      <ion-img src="/assets/shapes.svg"></ion-img>
    
      <ion-card-content>
        <p>searchbox here</p>
      </ion-card-content>
    </ion-card> -->
  
    <div class="wrapper">
      <h1 class="birdHeader">Location search</h1>
      <ion-searchbar placeholder="Search location" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list [hidden]="searchbarEmptyResultsHidden">
        <ion-item (click)="getRecentObservationsInARegion(location.location, location.regionCode)" *ngFor="let location of regionCodeListHardCopy">
          {{location.location}}
        </ion-item>
      </ion-list>

      <p class="info">Bird World is an application for database of bird observations providing students, 
        bird enthusiasts and amateur naturalists with real-time data about bird distribution and abundance</p>
    </div>

<!-- 

  this list is hella cool, use it for something?
  
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>

  -->
  
</ion-content>

<div class="countryOverlay" padding [hidden]="countryOverlayHidden">

  <button class="cancelOverlay-alignment" full (click)="hideOverlay()">
    <ion-icon name="close-circle"></ion-icon>
  </button>

  <div class="wrapper">
    <h1 class="overlayText">{{selectedCountry}}</h1>
    
    <ion-list [ngClass]="'scrollableList'">
      <ion-item *ngFor="let bird of recentObservations" routerLink="/tabs/tab3" routerDirection="root" (click)="loadBirdInfo(bird.comName, bird.howMany, bird.lat, bird.lng, bird.locName, bird.obsDt, bird.sciName, bird.speciesCode)">
        {{bird.comName}}
      </ion-item>
    </ion-list>
  </div>
</div>


