.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.countryOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.82);
  z-index: 20;
  top: 0;
  left: 0;
}

.overlayText {
  color: white;
  border-radius: 20px;
}

.scrollableList {
  overflow-y: scroll;
  height: 350px;
}

.info {
  text-align:center;
  padding:  10px 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
}
