<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="/assets/logo.png" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">
    <button class="backArrow-alignment" routerLink="/tabs/tab1" routerDirection="root">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <h1 class="birdHeader">Bird Search</h1>

     <ion-searchbar placeholder="Search bird" (ionInput)="birdSearchbar($event)" ></ion-searchbar><!-- 
    <ion-list [hidden]="searchbarEmptyResultsHidden">
      <ion-item (click)="selectBird(bird.comName, bird.familyComName, bird.familySciName, bird.order, bird.sciName)" *ngFor="let bird of birdListHardcopy">{{bird.comName}}</ion-item>
    </ion-list> -->

    <ion-virtual-scroll [items]="birdListHardcopy" approxItemHeight="50px" [hidden]="searchbarEmptyResultsHidden">
      <ion-item *virtualItem="let bird" (click)="selectBird(bird.comName, bird.familyComName, bird.familySciName, bird.order, bird.sciName)">
        {{bird.comName}}
      </ion-item>
    </ion-virtual-scroll>

  <p *ngIf="isBirdSelected == true">
    <ion-card style="background-color: white; opacity: .8;" class="card-wrapper">
      <h6>You selected {{comName}}.</h6>
      <br>
      <ion-grid>
        <ion-row >
          <ion-col size="3">
            <ion-icon src="../../assets/eye.svg" class="icon" size="large"></ion-icon>
          </ion-col>
          <ion-col class="text-icon">
            It was seen {{howManySeen}} times.
            <br><br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-icon src="../../assets/globe.svg" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            It's co-ordinates were {{latitudeCo}} and {{longitudeCo}}.
            <br><br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-icon src="../../assets/placeholder.svg" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            The place were it was spotted is called {{locationName}}.
            <br><br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-icon src="../../assets/calendar.svg" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            The date and time it was last seen is {{timeAndDateObserved}}.
            <br><br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-icon src="../../assets/microscope.svg" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            The species scientific name is {{speciesScientificName}}.
          </ion-col>
        </ion-row>
    </ion-grid> 
  </ion-card>
  </p>

  <p *ngIf="birdFromList == true">

        <ion-card style="background-color: white; opacity: .8;" class="card-wrapper">
            <h6>You selected {{comName}}.</h6>
            <br>
            <ion-grid>
              <ion-row >
                <ion-col size="3">
                  <ion-icon src="../../assets/birdgroup.svg" class="icon" size="large"></ion-icon>
                </ion-col>
                <ion-col class="text-icon">
                  It belongs to a family of {{familyComName}} birds.
                  <br><br>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <ion-icon src="../../assets/dna.svg" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                  It's familys scientific name is {{familySciName}}.
                  <br><br>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <ion-icon src="../../assets/category.svg" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                  Bird order is {{order}}.
                  <br><br>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <ion-icon src="../../assets/microscope.svg" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                  The birds scientific name is {{sciName}}.
                  <br><br>
                </ion-col>
              </ion-row>
          </ion-grid> 
        </ion-card>      

    <!-- You selected {{comName}}.
    <br><br>
    It belongs to a family of {{familyComName}} birds.
    <br><br>
    It's familys scientific name is {{familySciName}}.
    <br><br>
    Bird order is {{order}}
    <br><br>
    The birds scientific name is {{sciName}}.
    <br><br>
  </ion-card> -->
  </p>
</div>

</ion-content>


