// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content{
    --background: #fff url('assets/background2.png') no-repeat center center / cover;
}

#map {
    width: 100%;
    height: 70%;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

.wrapper {

    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

.card-wrapper {
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.birdTextStyling {

}

.birdHeader {
    font-size: 1.3em;
    text-align: center;
}

.cancelOverlay-alignment {
    top: 8%;
    right: 10%;
    position: fixed;
}

.backArrow-alignment {
    top: 20px;
    left: 10px;
    position: relative;
}

.logo {
    height: 55px;
    width: auto;
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto;
}

